# Exclure le dossier node_modules (évite d’envoyer les dépendances sur GitHub)
node_modules/

# Exclure les fichiers d’environnement (contiennent des informations sensibles)
.env

# Exclure les fichiers de logs (évite d’envoyer les logs générés par le serveur)
logs/
*.log
npm-debug.log*

# Exclure le dossier des fichiers générés par l'IDE (ex: VS Code, JetBrains)
.vscode/
.idea/
.DS_Store

# Exclure les fichiers de build (si on génère un build pour le backend)
dist/
build/

# Exclure les fichiers Docker (si utilisation de Docker)
docker-compose.yml
