.dashboard-container {
    padding: 20px;
    text-align: center;
  }
.appareil-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
}
.dashboard-container input.form-control {
  background-color: var(--bs-body-bg);
  color: inherit;
  border-color: #ccc;
}
