.container-profil {
    padding: 2rem;
    max-width: 600px;
    margin: auto;
  }
  
  .container-profil h2 {
    margin-bottom: 2rem;
  }
  
  .container-profil .form-control {
    margin-bottom: 1rem;
  }
  
  .container-profil button {
    margin-top: 1rem;
  }
  